body {
    background: #66cdaa;
    color: #f9f9f9;
    padding-top: 50px;
}

img {
    width: 100px;
    border-radius: 10%;
}

.container {
    text-align: center;
    border: 5px;
}
.botao  {
position:absolute;
top:20px;
left:50px;
margin:0px;
padding:0px;
}
.botao a {  
font: bold 12px/24px arial, helvetica, sans-aerif;	
padding:0px;
text-decoration: none;
text-align:center;	
color:#ccc;
background: #666 url('botao_link.gif')
 no-repeat center center;	
width:120px;  
height:24px;	
display:block;	
}
    
.btn-outline-info {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:hover {
    background-color: #4CAF50;
    color: white;
}
